# Numbers

Python has several different "types" of numbers.
We will first focus on two different types, integers and floating-points.

Integers are just whole numbers, positive or negative. 

__2__ and __-2__ are __integers__.

Floating-point numbers in Python are important because they have a decimal point in them or use "e" or "E" to denote exponents. 

__2.0__ and __2.1__ are examples of __floating points__ with decimal places. 

__4e2__ ( 4 x 10 ^ 2 = 400) is also an example of a __floating point__ number in Python

<table>
<tr>
    <th>Number "Types"</th>
    <th>Examples</th> 
</tr>

<tr>
    <td>Integers</td> 
    <td>1, 2, -5, 1000</td>
</tr>
<tr>
    <td>Floating-point numbers</td> 
    <td>1.2, -0.5, 2e2, 3E2</td> 
</tr>


 </table>

# Basic Arithmetic

In [1]:
# Addition

2 + 2

4

In [2]:
# Subtraction

5 - 3

2

In [3]:
# Multiplication

2 * 4

8

In [4]:
# Division 

3 / 4

0.75

In [5]:
# Floor Division 

7 // 4

1

In [6]:
# Modulo

7 % 4

3

In [7]:
# Powers

3 ** 3

27

In [8]:
# Roots 

100 ** 0.5

10.0

In [9]:
# Orders of Operation

2 + 10 * 10 + 3

105

In [10]:
(2 + 10) * (10 + 3)

156

# Variable Assignment

We can assign variables in Python by using a single equals sign,  __=__

In [11]:
# Let's make a variable called "a" and assign the value of 5 to it

a = 5

In [12]:
# Adding variables

a + a

10

In [13]:
# Reasignment

a = 7
a

7

In [14]:
a = a + a

In [15]:
a

14

The names you use when creating these labels need to follow a few rules:

- Varibale names can not start with a number.


- There can be no spaces in the name, use _ instead.


- Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+


- It's considered best practice [PEP8]("https://www.python.org/dev/peps/pep-0008/") that names are lowercase.


- Avoid using the characters 'l' (lowercase letter L), 'O' (uppercase letter o), or 'I' (uppercase letter i) as single character variable names since they can be confused for other letters or numbers.


- Avoid using words that have special meaning in Python like "list" and "str" since you may override functions.


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [16]:
# Use object names to keep track of what your variable means and what your code is doing!
my_income = 10000
tax_rate = 0.25

my_taxes = my_income * tax_rate

print(my_taxes)

2500.0