# Function Practice Excercises

### Lesser of Two Evens
__Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd__

In [4]:
lesser_of_two_evens(2,6)

2

In [5]:
lesser_of_two_evens(9,6)

9

### Animal Crackers
__Write a function that takes a two-word string and returns True if both words begin with the same letter__

In [23]:
animal_crackers('levelheaded llama')

True

In [24]:
animal_crackers("Crazy Kangaroo")

False

### Makes Twenty
__Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False__

In [26]:
makes_twenty(4,4)

False

In [27]:
makes_twenty(12,8)

True

In [29]:
makes_twenty(20,50)

True

### Old MacDonald
__Write a function that capitalizes the first and fourth letters of a name__

In [61]:
old_macdonald("michael")

'MicHael'

### Yoda
__Given a sentance, return a sentance with the words reversed__

In [77]:
yoda('I am home')

'home am I'

In [78]:
yoda('We are ready')

'ready are We'

### Almost There
__Given an integer n, return True if n is within 10 of either 100 or 200__

In [95]:
almost_there(90)

True

In [96]:
almost_there(104)

True

In [97]:
almost_there(150)

False

In [98]:
almost_there(209)

True

### Find 33
__Given a list of ints, return True if the array contains a 3 next to a 3 somewhere__

In [105]:
has_33([1, 3, 3])

True

In [106]:
has_33([1, 3, 1, 3])

False

### Paper Doll
__Given a string, return a string where for every character in the original, tehre are three characters__

In [139]:
paper_doll("Hello")

'HHHeeellllllooo'

In [140]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### Blackjack
__Given three integers between 1 and 11, if their sum is less than or equal to 21, return the sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after the adjustment) exceeds 21, return 'Bust'__

In [142]:
blackjack(5,6,7)

18

In [143]:
blackjack(9,9,9)

'Bust'

In [144]:
blackjack(9,9,11)

19

### Summer of 69
__Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and etending to the next 9 (every 6 will be followed by at least one 9.) Return 0 for no numbers.__

In [147]:
summer_69([1, 3, 5])

9

In [149]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [151]:
summer_69([2, 1, 6, 9, 11])

14

### Spy Game
__Write a function that takes in a list of integers and returns True if it contains 007 in order__

In [157]:
spy_game([1,2,4,0,0,7,5])

True

In [158]:
spy_game([1,0,2,4,0,5,7])

True

In [160]:
spy_game([1,7,2,0,4,5,0])

False

### Counting Primes
__Write a function that returns the number of prime numbers that exist up to and including a given number__

In [164]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25